<%- include('header') %>

<h3 class="mb-3">Admin felület</h4>

<%- include('message') %>

<div class="container">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="users-tab" data-bs-toggle="tab" data-bs-target="#users-tab-pane" type="button" role="tab" aria-controls="users-tab-pane" aria-selected="true">Összes felhasználó</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="rentals-tab" data-bs-toggle="tab" data-bs-target="#rentals-tab-pane" type="button" role="tab" aria-controls="rentals-tab-pane" aria-selected="false">Összes kölcsönzés</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="product-tab" data-bs-toggle="tab" data-bs-target="#product-tab-pane" type="button" role="tab" aria-controls="product-tab-pane" aria-selected="false">Termék kezelő</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="user-stats-tab" data-bs-toggle="tab" data-bs-target="#user-stats-tab-pane" type="button" role="tab" aria-controls="user-stats-tab-pane" aria-selected="false">User statisztikák</button>
    </li>
  </ul>

  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="users-tab-pane" role="tabpanel" aria-labelledby="users-tab" tabindex="0">
      <%- include('alluser') %>
    </div>
    <div class="tab-pane fade" id="rentals-tab-pane" role="tabpanel" aria-labelledby="rentals-tab" tabindex="0">
      <%- include('allrental') %>
    </div>
    <div class="tab-pane fade" id="product-tab-pane" role="tabpanel" aria-labelledby="product-tab" tabindex="0">
      <%- include('crud') %>
    </div>
    <div class="tab-pane fade" id="user-stats-tab-pane" role="tabpanel" aria-labelledby="user-stats-tab" tabindex="0">
      <%- include('userstatics') %>
    </div>
  </div>
</div>

<%- include('footer') %>
