
<div class="container mt-3">
    <h2 class="text-center mb-2">Összes Termék</h2>
    <table class="table table-striped table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Termék</th>
                <th scope="col">Típus</th>
                <th scope="col">Állapot</th>
                <th scope="col"></th>
                <th scope="col">Művelet</th>
            </tr>
        </thead>
        <tbody>
            <% items.forEach(item => { %>
                <tr>
                    <td><%= item.item_id %></td>
                    <td><%= item.title %></td>
                    <td><%= item.type %></td>
                    <td><%= item.available %></td>
                    <td>
                        <!-- Módosítás gomb -->
                        <form action="/edit/<%= item.item_id %>" method="GET" style="display:inline;">
                            <button type="submit" class="btn btn-warning">Módosítás</button>
                        </form>
                    </td>
                    <td>
                        <!-- Törlés gomb -->
                        <form action="/kolcsonzes/delete/<%= item.item_id %>" method="POST" style="display:inline;">
                            <button type="submit" class="btn btn-danger">Törlés</button>
                        </form>
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</div>
