<%- include('header') %>

<h4 class="mb-3">Kölcsönzés</h4>

<%- include('message') %>

<!-- Szűrő forma -->
<!--<form method="GET" action="/kolcsonzo" class="mb-3">
  <div class="row">
    <div class="col">
      <label for="typeFilter" class="form-label">Típus szerint szűrés</label>
      <select id="typeFilter" name="type" class="form-select">
        <option value="" <%= !type ? 'selected' : '' %>>Minden típus</option>
        <option value="film" <%= type === 'film' ? 'selected' : '' %>>Film</option>
        <option value="konyv" <%= type === 'konyv' ? 'selected' : '' %>>Könyv</option>
      -->
        <!-- További típusok hozzáadhatók itt -->
      </select>
    </div>
    <div class="col d-flex align-items-end">
      <button type="submit" class="btn btn-primary">Szűrés</button>
    </div>
  </div>
</form>

<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Film/könyv címe</th>
        <th scope="col">Tárgy típusa</th>
        <th scope="col">Elérhető</th>
        <th class="text-end" scope="col">Művelet</th>
      </tr>
    </thead>
    <tbody>
        <% results.forEach((item, index) => { %>
            <tr>
                <td><%= (index+1)%>.</td>
                <td><%= item.title %></td>
                <td><%= item.type %></td>
                <td><%= item.available %></td>
                <td class="text-end">
                  <form action="/kolcsonzes/kolcsonzes/<%= item.item_id %>" method="POST">
                    <button type="submit" class="btn btn-warning">Kölcsönzés</button>
                </form>
                </td>
            </tr>
        <% }); %>
    </tbody>
</table>

<%- include('footer') %>
