<%- include('header') %>

<h4 class="mb-3">Kölcsönzés</h4>

<%- include('message') %>

<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Film/könyv címe</th>
        <th scope="col">Elérhető</th>
        <th class="text-end" scope="col">Művelet</th>
      </tr>
    </thead>
    <tbody>
        <% results.forEach((item, index) => { %>
            <tr>
                <td><%= (index+1)%>.</td>
                <td><%= item.title %></td> 
                <td><%= item.available %></td>
                <td class="text-end">
                  <form action="/kolcsonzes/kolcsonzes/<%= item.item_id %>" method="POST">
                    <button type="submit" class="btn btn-warning">Kölcsönzés</button>
                </form>
                </td>
            </tr>
        <% }); %>

    </tbody>
  </table>

<%- include('footer') %>


