<%- include('header') %>

<h4 class="mb-3">Kölcsönzés</h4>

<%- include('message') %>

<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Film/könyv címe</th>
        <th scope="col">Elérhető</th>
        <th scope="col">Művelet</th>
      </tr>
    </thead>
    <tbody>
        <% results.forEach(item => { %>
            <tr>
                <td><%= item.title %></td>
                <td><%= item.available %></td> 
                
            </tr>
        <% }); %>

    </tbody>
  </table>

<%- include('footer') %>


